<div class="container mt-3">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
          <img src="/assets/images/Asset 2.png" class="img-fluid logo" width="80" height="32" alt="logo-swim">
        </a>
        <span class="mb-3 mb-md-0 text-muted">© 2022 Company, Inc</span>
      </div>
  
      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3"><a class="text-muted awesome" href="#"><i class="fa-brands fa-twitter"></i></a></li>
        <li class="ms-3"><a class="text-muted awesome" href="#"><i class="fa-brands fa-instagram"></i></a></li>
        <li class="ms-3"><a class="text-muted awesome" href="#"><i class="fa-brands fa-facebook-square"></i></a></li>
      </ul>
    </footer>
  </div>
