<section class="bg-img">
    <app-navbar></app-navbar>
    <div class="container pad">
        <h1 class="title">you are greater than any obstacle</h1>
        <p class="font-center mt-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed repellendus, atque qui
            exercitationem consequatur
            suscipit perspiciatis quos a dicta doloremque nobis fugiat assumenda excepturi iure ipsam reiciendis
            consectetur
            optio vel!</p>
        <button class="btn-sm  mt-5">login</button>
        <div class="row"> <i class="fa-solid col-2 fa-circle-arrow-down"></i>
            <p class="col ">Scroll Down</p>
        </div>
    </div>
</section>
<section>
    <div class="container mt-5">
        <div class="row">
            <div class="col-6 mt-5">
                <h4>natation</h4>
                <p>Sports swimming consists of walking in a swimming pool, as quickly as possible and in a style
                    codified by
                    the
                    International Swimming Federation (FINA), a given distance, without the help of any accessories.</p>
                <button class="btn-sm  mt-5">read more</button>
            </div>
            <div class="col-6 ">
                <img src="/assets/images/talahria-jensen-F20aPGvyhrQ-unsplash.jpg" class="img-fluid img" alt="">
            </div>
        </div>

    </div>

</section>
<section>
    <div class="container mt-5">
        <div class="row">
            <div class="col-6">
                <img src="/assets/images/brian-matangelo-gRof2_Ftu7A-unsplash.jpg" class="img-fluid" alt="">

            </div>
            <div class="col-6 mt-5">
                <h4>e-learning</h4>
                <p>Sports swimming consists of walking in a swimming pool, as quickly as possible and in a style
                    codified by
                    the
                    International Swimming Federation (FINA), a given distance, without the help of any accessories.</p>
                <button class="btn-sm  mt-5">let's start</button>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container mt-5">
        <div class="row">
            <div class="col-6 mt-5">
                <h4>swim app</h4>
                <p>Sports swimming consists of walking in a swimming pool, as quickly as possible and in a style
                    codified by
                    the
                    International Swimming Federation (FINA), a given distance, without the help of any accessories.</p>
                <button class="btn-sm  mt-5">login </button>
            </div>
            <div class="col-6 ">
                <img src="/assets/images/raj-rana-ttzU0sZmkpA-unsplash.jpg" class="img-fluid img" alt="">
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row mt-5">
            <h2>SHOP STORE</h2>
            <p class="mt-3 text-p">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti molestiae hic
                tenetur culpa totam, numquam
                sunt earum praesentium adipisci.</p>

        </div>
        <div class="row mt-3">
            <div class="col-6">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="/assets/images/five-swimmers-racing-against-each-other-in-swiming-pool.jpg"
                                class="img-fluid img-round" alt="shop">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Sport</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>
                                <a href="#">
                                    <p class="card-text"><small class="text">read more <i
                                                class="fa-solid fa-angle-right"></i></small></p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="/assets/images/five-swimmers-racing-against-each-other-in-swiming-pool.jpg"
                                class="img-fluid img-round" alt="shop">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Sport</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>
                                <a href="#">
                                    <p class="card-text"><small class="text">read more <i
                                                class="fa-solid fa-angle-right"></i></small></p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-6">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="/assets/images/five-swimmers-racing-against-each-other-in-swiming-pool.jpg"
                                class="img-fluid img-round" alt="shop">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Sport</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>
                                <a href="#">
                                    <p class="card-text"><small class="text">read more <i
                                                class="fa-solid fa-angle-right"></i></small></p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="/assets/images/five-swimmers-racing-against-each-other-in-swiming-pool.jpg"
                                class="img-fluid img-round" alt="shop">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Sport</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>
                                <a href="#">
                                    <p class="card-text"><small class="text">read more <i
                                                class="fa-solid fa-angle-right"></i></small></p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container mt-5">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100">
                    <img src="/assets/images/raj-rana-ttzU0sZmkpA-unsplash.jpg" class="img-size img-fluid card-img-top"
                        alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="/assets/images/raj-rana-ttzU0sZmkpA-unsplash.jpg" class="img-size img-fluid card-img-top"
                        alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a short card.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="/assets/images/raj-rana-ttzU0sZmkpA-unsplash.jpg" class="img-size img-fluid card-img-top"
                        alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>